.gradients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  .gradient {
    margin: 1rem auto;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }
  span {
    font-size: .75rem;
  }
}