$text-font: 'Poppins', sans-serif;

.gradients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  @media all and (max-width: 500px) {
    grid-template-columns: 1fr;
  }

  &>div {
    width: 100%;
  }

  .gradient {
    margin: 1rem auto;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;

    @media all and (max-width: 1320px) {
      width: 10rem;
      height: 10rem;
    }

    @media all and (max-width: 500px) {
      width: 6rem;
      height: 6rem;
    }
  }

  textarea {
    resize: none;
    overflow-x: hidden;
    padding: .75rem;
    height: 5rem;

    @media all and (max-width: 500px) {
      height: 2rem;
    }
  }

  .gradient-values {
    font-size: .75rem;
    font-family: $text-font;
    width: 100%;
    outline: none;
    border: none;
    background: none;
    text-align: center;
    margin-top: 2rem;

    @media all and (max-width: 500px) {
      margin-top: .5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}