$text-font: 'Poppins', sans-serif;

.interactions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-values {
  text-transform: uppercase;
  font-family: $text-font;
  font-size: 1rem;
  width: 50vw;
  min-width: 300px;
  outline: none;
  border: none;
  background: none;
  text-align: center;
  margin-top: 2rem;

  @media all and (max-width: 500px) {
    font-size: .75rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.button {
  &--refresh {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #6590FF 0%, #5C005E 100%);
    border-radius: 10px;
    padding: .5rem 1.5rem;
    //width: 15rem;
    margin-top: 2rem;
    transition: .3s;

    @media all and (max-width: 500px) {
      font-size: 1.25rem;
    }

    &:active {
      transform: translateY(.3rem);
    }
  }

  &--gradient {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, blue 0%, crimson 100%);
    border-radius: 10px;
    padding: .5rem 1.5rem;
    margin-top: 2rem;
    transition: .3s;
    grid-column: 1/4;

    @media all and (max-width: 500px) {
      grid-column: 1/2;
      font-size: 1.25rem;
    }

    &:active {
      transform: translateY(.3rem);
    }
  }
}