@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');

$text-font: 'Poppins', sans-serif;

.palette__container {
  .myColor {
    text-transform: uppercase;
    font-family: $text-font;
    outline: none;
    border: none;
    background: none;
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  &__item {
    position: relative;
    width: 20vw;
    height: 60vh;
  }

  &__buttons {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(0,0,0, .5);
  }
}

.button {
  outline: none;
  background-color: transparent;
  border: none;
  font-family: $text-font;
  &:hover {
    cursor: pointer;
  }

  &--lock {
    margin-top: 1.5rem;
    height: 30px;
  }
}