.main {
  display: flex;
  flex-direction: column;

  p {
    font-weight: bold;
    padding: 0 1rem;
  }

  &__options {
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    @media all and (max-width: 760px) {
      flex-direction: column;
    }

    img {
      height: 8rem;
    }

    &__item {
      margin: 3rem 5rem;
      cursor: pointer;

      p {
        padding-top: 1rem;
        font-weight: 400;
      }

      img {
        transition: .3s;
        &:hover {
          transform: translateY(-10px);
        }
      }

      @media all and (max-width: 760px) {
        margin: 1.5rem 0;

        p {
          padding-top: .5rem;
        }
      }
    }
  }

  h1 {
    font-size: 7rem;
    color: black;
    animation: textColorAnimation 15s linear infinite;

    @media all and (max-width: 760px) {
      font-size: 4rem;
    }

    @keyframes textColorAnimation {
      0% {
        color: violet;
      }
      25% {
        color: orangered;
      }
      50% {
        color: orange;
      }
      75% {
        color: red;
      }
      100% {
        color: violet;
      }
    }
  }
}