//FONTS
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
@import "./../../components/Palette/palette";
@import "./../../components/Header/header";
@import "./../../components/Info/info";
@import "./../../components/NavMenu/navMenu";
@import "./../../components/Gradients/gradients";
@import "./../../components/Main/main";

//Components

$text-color: #343434;
$text-font: 'Poppins', sans-serif;

//Styles

::selection {
  //background: cornflowerblue;
  //color: white;
}

:root {
  box-sizing: border-box;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $text-font;
  color: $text-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
  color: #737373;
  transition: .2s;
  font-weight: bold;


  &:hover {
    color: #343434;
  }
}

.App {
  text-align: center;
}

.showCopied {
  position: absolute;
  top: -4rem;
  padding: .5rem 2rem;
  background-color: white;
  box-shadow: 0 0 10px green;
  border-radius: .5rem;
  left: 50%;
  transform: translateX(-50%);
  color: forestgreen;

  animation: none;

  @keyframes show {
    0% {
      top: -4rem;
    }
    30%, 70% {
      top: 1rem;
    }
    100% {
      top: -4rem;
    }
  }

  &.toggle {
    animation: show 2s ease-in-out;
    @keyframes show {
      0% {
        top: -4rem;
      }
      30%, 70% {
        top: 1rem;
      }
      100% {
        top: -4rem;
      }
    }
  }
}